
.navi{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding-top: 30px;
    
}
.head{
    display: flex;
    justify-content: space-around;
    width: 300px;
    height: 100px;
}
.logo{
    height: 100px;
    width: 100px;
    align-self: center;

}
.user{
    color: white;
    font-size: 40px;
    font-weight: semi-bold;
    align-self: center;
}
.menu{
    display: flex;
    flex-direction: column;
    align-items: flex-end;

}
.menuBTN{
    visibility: hidden;
}
.naviBTN .naviBTNDesktop{
    color: white;
    display: flex;
    justify-content: space-around;
    gap: 16px;
}
.naviBTNMenu{
    visibility: hidden;
}

@media only screen and (max-width: 950px) {
   .user{
    font-size: 20px;
   }
   .logo{
    height: 50px;
    width: 50px;
    align-self: center;

    }
    .naviBTN{
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: auto;
    }
    .menuBTN{
        visibility: visible;
    }
    .naviBTNDesktop{
        visibility: hidden;

    }
    .naviBTNMenu{
        visibility: visible;
        display: flex;
        flex-direction: column;
    }
}