body{
  background-image: linear-gradient(rgba(0, 0, 0, .9), rgba(0, 0, 0, .8)), url("../src/assets/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;    


}
.glass{
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  height: 100vh;
  }
  .glassBTN{
    height: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .safetyBTN{
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  .phoneBTN{
    display: flex;
    justify-content: space-around;
    gap: 10px;
    width: 15%;
    p{
      color:white;
      font-size: 30x;
    }
    .phone{
      width: 40px;
    }
  }
 